---
const { content, author, role, avatarSrc } = Astro.props;

interface Props {
  content: string;
  author: string;
  role: string;
  avatarSrc: string;
}
---

<blockquote class="relative max-w-[70rem]">
  <div class="mb-4">
    <div class="flex flex-col items-center justify-center">
      <img
          class="h-20 w-20 rounded-full mb-2"
          src={avatarSrc}
          alt="Avatar Description"
          loading={"eager"}
        />
      <div>
        <div class="w-full">
          <div class="font-bold text-pearl-100 text-center text-lg">
            {author}
          </div>
          <div class="text-white text-center">{role}</div>
        </div>
      </div>
     
    </div>
  </div>
  <div class="relative z-10">
    <p class="text-lg italic text-pearl-100 text-center">
      {content}
    </p>
  </div>

 
</blockquote>
