---
// Import PrimaryCTA component
import { Image } from "astro:assets";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";

// Destructure the props passed to the Astro component
const { 
    title, 
    subTitle, 
    label,
    backgroundImg,
  } = Astro.props;
// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  label: string;
  backgroundImg: string;
}

const backgroundImgUrl = `url('${backgroundImg}')`
---

<!-- Root section of the component -->

<!-- Defining a grid container that holds all the content -->
<section class="bg-image-hero">
  <!-- Title and description -->
  <div class="pt-[5rem] fade-up">

    <div class="flex items-center gap-3 mb-2">
      <span class="flex bg-primary-500 h-[11px] w-[11px] rounded-full"></span>
      <h3 class="text-pearl-100 text-lg">{label}</h3>
    </div>
    <!-- Each h1 and p tag renders a portion of the title and subTitle defined above -->
    <h1
      class="block text-balance font-bold tracking-tight text-pearl-100 text-4xl md:text-5xl lg:text-5xl 2xl:text-[4rem] lg:leading-none"
    >
      <!-- About Fragment: https://docs.astro.build/en/basics/astro-syntax/#fragments -->
      <Fragment set:html={title} />
    </h1>
    {subTitle &&
    <p
      class="mt-3 text-pretty text-lg leading-relaxed text-pearl-100 lg:w-4/5"
    >
      {subTitle}
    </p>
  }

  </div>
  <!-- Hero Image Section -->
 
</section>

<style define:vars={{ backgroundImgUrl }}>
  .bg-image-hero {
    background-image: var(--backgroundImgUrl);
    @apply
    h-[60vh] 
    bg-cover 
    bg-right 
    lg:bg-center 
    bg-no-repeat 
    items-center 
    grid 
    gap-4 
    grid-cols-1
    md:grid-cols-2 
    justify-center
    px-4
    py-14
    sm:px-6
    md:items-center 
    md:gap-8 
    lg:px-[10rem] 
    2xl:max-w-full
  }
</style>