---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import faqs from "@data/faqs.json";
import avatar from "@images/avatar.jpg";
import AboutUsSection from "@/components/sections/AboutUsSection.astro";
import BannerSection from "@/components/sections/BannerSection.astro";


const avatarSrcs: Array<string> = [avatar.src];
---

<MainLayout>
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->

  <HeroSection
    title=`We supply energy equipment.`
    subTitle="Boost your business. Innovate your operations"
    primaryBtn="Let's get started!    "
    primaryBtnURL="/"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
  />

  <ClientsSection />

  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">

    <AboutUsSection
      label="About Us"
      title="Your reliable partner in Oil & Gas"
      subTitle="With over 25 years of experience in the Oil and Gas sector, asset management, maintenance, and equipment reliability at an international level, spanning North America and Latin America, we have focused on providing professional services in project engineering for equipment, as well as its commercialization and supply. Our priority is efficiency in every project, supporting your business goals with innovation and sustainability. Thanks to the dedication and professionalism of our team, we can position ourselves in the market as a reliable choice for your projects. We are a responsible and committed company, at the forefront of new technologies that guarantee the efficiency of our results. Best regards from Narvi Enterprise Corporation."
      imgOne="/img/machine-1.jpg"
      imgOneAlt="Oil Driller"
      imgTwo="/img/machine-2.jpg"
      imgTwoAlt="Oil and gas plant"
      btnExists={true}
      btnTitle="Read more"
      btnURL="/"
    />

    <FeaturesGeneral 
      label="Products and services"
      title="Innovation and efficiency in every project"
      subTitle="Discover our extensive range of products and services designed to optimize your operations in the Oil & Gas sector. From project engineering to preventive maintenance, we have the expertise and resources to help you achieve your business objectives. We offer customized solutions tailored to your specific needs."/>
      
    <TestimonialsSection
      label="Customer testimonials"
      title="Discover why our clients choose us"
      subTitle="Want to know why so many companies trust us? Discover the benefits of working with Narvi through our customer testimonials.";
      testimonials={[
        {
          content:
            '"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia labore enim aspernatur distinctio expedita asperiores consectetur odit, deleniti delectus earum eligendi inventore, aut officiis voluptatem iure obcaecati tenetur aperiam!"',
          author: "Lorem Isum",
          role: "Lorem",
          avatarSrc: "/img/profile.webp",
        },
        {
          content:
            '"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia labore enim aspernatur distinctio expedita asperiores consectetur odit, deleniti delectus earum eligendi inventore, aut officiis voluptatem iure obcaecati tenetur aperiam!"',
          author: "Lorem Isum",
          role: "Lorem",
          avatarSrc: "/img/profile.webp",
        },
        {
          content:
            '"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia labore enim aspernatur distinctio expedita asperiores consectetur odit, deleniti delectus earum eligendi inventore, aut officiis voluptatem iure obcaecati tenetur aperiam!"',
          author: "Lorem Isum",
          role: "Lorem",
          avatarSrc: "/img/profile.webp",
        },
      ]}
    />
    
  </div>

  <BannerSection
    imgUrl="/img/woker-1.jpg" 
    imgAlt="Worker 1"
  />

  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8 py-20">
    <FAQ 
      title="Quick answers to your <br /> questions" 
      subTitle="Do you have questions about our services? Here you will find answers to the most frequently asked questions from our clients. If you cannot find what you are looking for, please contact us."
      faqs={faqs} 
      label="FAQ"/>
  </div>
</MainLayout>
