---
const { 
    title,
    description ,
    imgUrl,
    imgAlt
} = Astro.props;

---
<div class="max-w-sm rounded-lg border border-gray-200 bg-white shadow dark:border-gray-700 dark:bg-gray-800">
    <div>
      <img
        class="rounded-t-lg"
        src={imgUrl}
        alt={imgAlt}
      />
    </div>
    <div class="p-5">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title}</h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{description}</p>
    </div>
  </div>