---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import faqs from "@data/faqs.json";
import avatar from "@images/avatar.jpg";
import AboutUsSection from "@/components/sections/AboutUsSection.astro";
import BannerSection from "@/components/sections/BannerSection.astro";


const avatarSrcs: Array<string> = [avatar.src];
---

<MainLayout>
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->

  <HeroSection
    title=`Suministramos equipos energéticos.`
    subTitle="Impulsa tu negocio. Innova tus operaciones."
    primaryBtn="¡Comencemos!"
    primaryBtnURL="/"
    secondaryBtn="Contactar con ventas"
    secondaryBtnURL="/"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`Desde <span class="font-bold">12.8k</span> comentarios`
  />

  <ClientsSection />

  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">

    <AboutUsSection
      label="Sobre nosotros"
      title="Su socio de confianza en la industria del petróleo y gas"
      subTitle="Con más de 25 años de experiencia en el sector de petróleo y gas, gestión de activos, mantenimiento y confiabilidad de equipos a nivel internacional, en países de Norteamérica y Latinoamérica, nos hemos enfocado en brindar servicios profesionales en ingeniería de proyectos para equipos, así como su comercialización y suministro. Nuestra prioridad es la eficiencia en cada proyecto, apoyando tus metas de negocio con innovación y sostenibilidad. Gracias a la dedicación y profesionalismo de nuestro equipo, podemos posicionarnos en el mercado como una opción confiable para tus proyectos. Somos una empresa responsable y comprometida, a la vanguardia de nuevas tecnologías que garantizan la eficiencia de nuestros resultados. Cordiales saludos de Narvi Enterprise Corporation."
      imgOne="/img/machine-1.jpg"
      imgOneAlt="Perforadora de petróleo"
      imgTwo="/img/machine-2.jpg"
      imgTwoAlt="Planta de gas y petróleo"
      btnExists={true}
      btnTitle="Saber más"
      btnURL="/"
    />

    <FeaturesGeneral 
      label="Productos y servicios"
      title="Innovación y eficiencia en cada proyecto"
      subTitle="Descubre nuestra amplia gama de productos y servicios diseñados para optimizar tus operaciones en el sector de petróleo y gas. Desde ingeniería de proyectos hasta mantenimiento preventivo, contamos con la experiencia y los recursos necesarios para ayudarte a alcanzar tus objetivos comerciales. Ofrecemos soluciones personalizadas adaptadas a tus necesidades específicas."/>
      
    <TestimonialsSection
      label="Testimonios"
      title="Descubre por qué los clientes nos escogen"
      subTitle="¿Quieres saber por qué tantas empresas confían en nosotros? Descubre los beneficios de trabajar con Narvi a través de los testimonios de nuestros clientes.";
      testimonials={[
        {
          content:
            '"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia labore enim aspernatur distinctio expedita asperiores consectetur odit, deleniti delectus earum eligendi inventore, aut officiis voluptatem iure obcaecati tenetur aperiam!"',
          author: "Lorem Isum",
          role: "Lorem",
          avatarSrc: "/img/profile.webp",
        },
        {
          content:
            '"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia labore enim aspernatur distinctio expedita asperiores consectetur odit, deleniti delectus earum eligendi inventore, aut officiis voluptatem iure obcaecati tenetur aperiam!"',
          author: "Lorem Isum",
          role: "Lorem",
          avatarSrc: "/img/profile.webp",
        },
        {
          content:
            '"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia labore enim aspernatur distinctio expedita asperiores consectetur odit, deleniti delectus earum eligendi inventore, aut officiis voluptatem iure obcaecati tenetur aperiam!"',
          author: "Lorem Isum",
          role: "Lorem",
          avatarSrc: "/img/profile.webp",
        },
      ]}
    />
    
  </div>

  <BannerSection
    imgUrl="/img/woker-1.jpg" 
    imgAlt="Worker 1"
  />

  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8 mt-5">
    <FAQ 
      title="Repuestas rapidas a tus preguntas" 
      subTitle="¿Tienes preguntas sobre nuestros servicios? Aquí encontrarás respuestas a las preguntas más frecuentes de nuestros clientes. Si no encuentras lo que buscas, por favor contáctanos."
      faqs={faqs} 
      label="Preguntas frecuentes"/>
  </div>
</MainLayout>
