---
// Importing necessary components
import Meta from "@components/Meta.astro";
import Navbar from "@components/sections/navbar&footer/Navbar.astro";
import FooterSection from "@components/sections/navbar&footer/FooterSection.astro";
import { SITE } from "@data/constants";

import '@styles/main.css';

// Setting expected props
const { title = SITE.title, meta, structuredData, lang = "en" } = Astro.props;

// Interface to type-check the properties
interface Props {
  title?: string;
  meta?: string;
  structuredData?: object;
  lang?: string;
}
---

<!--
This is the main structure for the page.
We set the language of the page to English and add classes for scrollbar and scroll behavior.
-->
<html lang={lang} class="scrollbar-hide lenis lenis-smooth scroll-pt-16 scroll-smooth">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <!-- Adding metadata to the HTML document -->
    <Meta meta={meta} structuredData={structuredData} />
    <!-- Define the title of the page -->
    <title>{title}</title>
    <script is:inline>
      // Script to handle dark mode. It will check if the theme is stored in localStorage or if dark theme is preferred by system settings
      if (localStorage.getItem("hs_theme") === "dark") {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <script>
      import "@scripts/lenisSmoothScroll.js";
    </script>
  </head>
  <body
    class="bg-[#172c27] selection:bg-primary-400 selection:text-neutral-700 dark:bg-neutral-800"
  >
    <!--
    Setting up the main structure of the page.
    The Navbar is placed at the top, with a slot for the main content and FooterSection at the bottom.
    -->
    <div class="bg-[url('/img/page-texture-2-img.png')]">
      <Navbar />
      <main>
        <slot />
      </main>
    </div>
    <FooterSection />

    <script>
      import { gsap } from "gsap";
      import { ScrollTrigger } from "gsap/ScrollTrigger";

      gsap.registerPlugin(ScrollTrigger);

      gsap.from(".brand-logo", {
        opacity: 0,
        delay: 0.9,
        x: 20,
      });

      const navbarLinks = document.querySelectorAll(".navbar .navbar-link")

      gsap.from(navbarLinks, {
        opacity: 0,
        x: 0,
        duration: .7,
        delay: .8,
        stagger: {
          amount: 1
        }
      });

      const slidesBrands = document.querySelectorAll(".slide-brand")

      gsap.from(slidesBrands, {
        opacity: 0,
        x: 0,
        duration: .7,
        delay: .8,
        stagger: {
          amount: 1
        },
        scrollTrigger: slidesBrands
      });

      gsap.utils.toArray('.fade-up').forEach((element: any) =>{
        gsap.fromTo(element, {
            opacity:0,
            y:150,
        },{
            opacity:1,
            y:0,
            duration: .7,
            scrollTrigger: {
              trigger: element.parentElement,
            }

        })
      })

      gsap.utils.toArray('.fade-left').forEach((element: any) =>{
        gsap.fromTo(element, {
            opacity:0,
            x: -150,
        },{
            opacity:1,
            x:0,
            duration: .7,
            scrollTrigger: {
              trigger: element.parentElement,
            }

        })
      })

      gsap.utils.toArray('.fade-right').forEach((element: any) =>{
        gsap.fromTo(element, {
            opacity:0,
            x: 150,
        },{
            opacity:1,
            x:0,
            duration: .7,
            scrollTrigger: {
              trigger: element.parentElement,
            }

        })
      })

      const fadeUpDownGroup = document.querySelectorAll(".fade-up-down-group")

      gsap.from(fadeUpDownGroup, {
        opacity: 0,
        y: 0,
        duration: 1,
        delay: .4,
        stagger: {
          amount: 1
        },
        scrollTrigger: {
          trigger: fadeUpDownGroup[0]?.parentElement,
        }
      });

    </script>
  </body>
</html>
